<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center deep-orange-text mg-title mg-main-title">{{t 'application.title'}}</h1>
    <div class="row center mg-button-group">
      {{#link-to 'game.start' id="start-game-button" class="btn-large waves-effect waves-light purple darken-2" tagName='button'}}{{t 'index.template.startGame'}}{{/link-to}}
    </div>
  </div>
</div>

{{outlet}}
