<div class="nav-wrapper container">
  <a id="logo-container" href="#" {{action 'goToIndex'}}>
    <img alt="Memory game logo" class="responsive-img mg-image-small" src="/assets/images/brainstorming.png"/>
  </a>

  {{change-locale class='right'}}
</div>
