/**
* Component: Game Board
*
*/

/**
* Variables
* -------------------------------------------------------------------- */


/**
* Style
* -------------------------------------------------------------------- */

.mg-game {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.mg-game-board-finished-message {
  font-size: 24px;
}
