/**
* Component: Nav
*
*/

/**
* Variables
* -------------------------------------------------------------------- */


/**
* Style
* -------------------------------------------------------------------- */

nav.mg-nav-sidebar .mg-button-collapse i {
  font-size: 2em;
  font-style: normal;
}

.mg-button-collapse {
  cursor: pointer;
}

nav.mg-nav-sidebar ul a.btn {
  margin: -2px 2px 0 2px;
}
