<li>
  <a href="#" class="btn btn-small waves-effect waves-light purple darken-2 mg-level-button" {{action 'changeTo' 'EN'}}>{{t 'components.changeLocale.template.EN'}}</a>
</li>
<li>
  <a href="#" class="btn btn-small waves-effect waves-light purple darken-2 mg-level-button" {{action 'changeTo' 'ES'}}>{{t 'components.changeLocale.template.ES'}}</a>
</li>
